{% extends 'base.html.twig' %}

{% block title %}Resume marks{% endblock %}

{% block body %}
    <div class="row">
        <h1>Resumes</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Vacancy</th>
                <th scope="col">Content</th>
                <th scope="col">Mark</th>
                <th scope="col">User</th>
                <th scope="col">Created at</th>
            </tr>
            </thead>
            <tbody>
            {% for mark in resumesMarks %}
                <tr>
                    <th scope="row">{{ mark.resume.vacancy }}</th>
                    <td>{{ mark.resume.shortContent }}</td>
                    <td>{{ mark.mark }}</td>
                    <td>{{ mark.user.email }}</td>
                    <td>{{ mark.createdAt|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
