{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.name) }}
<small>{{ form_help(form.name) }}</small>

{{ form_row(form.site) }}
<small>{{ form_help(form.site) }}</small>

{{ form_row(form.address) }}
<small>{{ form_help(form.address) }}</small>

{{ form_row(form.phone) }}
<small>{{ form_help(form.phone) }}</small>
<div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {{ form_row(form.reset) }}
        {{ form_row(form.submit) }}
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
